@(message: String)

@main("Drexel's Improved Master Schedule") {
	@controllers.Application.getSubjectOptionsAsHtml()
}  {
	@controllers.Application.getNumberOptions()
} {
	<option>&lt;</option>
	<option>&lt;=</option>
	<option>=</option>
	<option>&gt;=</option>
	<option>&gt;</option>
} {
	@controllers.Application.getTermOptions()
} {
	<option>1.0</option><option>2.0</option><option>3.0</option><option>@message</option>
} {
	@controllers.Application.getInstructorsOptionsAsHtml()
} {
	@controllers.Application.getCampusesOptionsAsHtml()
} {
	<option>at</option>
	<option>before</option>
	<option>after</option>
} {
	<option>1:00 PM</option>
	<option>2:00 PM</option>
	<option>2:30 PM</option>
}
